body		{
	font-size:2em;
}

button		{
	width:96vw;
	height:15vh;
	font-size:8vh;
}

.button_small	{
	width:46vw;
	height:15vh;
	font-size:5vh;
}

img		{
	width:100%
}

.map_style	{
	width:96vw;
	top:17vh;
	left:1vw;
	bottom:17vh;
	right:1vw;
	position: fixed;
}

.map_viewer	{
	width:96vw;
	top:0vh;
	left:0vw;
	bottom:15vh;
	right:0vw;
	position:fixed;
}

/* OpenLayers attribution */
div.olControlAttribution {
	font-size: 3vh;
	bottom: 3px;
}

/* Zoom buttons */
div.olControlZoom a {
	font-size: 20vmin;
	height: 15vmin;
	line-height: 10vmin;
	margin: 1vmin;
	padding: 2vmin;
	width: 14vmin;
	border-radius: 2vmin;
}
